[2018-11-30 19:33] saad-ali opened #2 "Clean up `Gopkg.toml` dependencies"
With `cmd/driver-registrar/k8s_register.go` deleted in https://github.com/kubernetes-csi/node-driver-registrar/pull/1, we might be able to update `Gopkg.toml` to remove some dependencies

/assign @lpabon

[2018-11-30 23:48] saad-ali commented on #2
Closed with https://github.com/kubernetes-csi/node-driver-registrar/pull/3

[2018-11-30 23:48] #2 closed

[2018-12-11 15:29] pohly opened #7 "update RBAC file"
The RBAC file was copied unmodified from driver-registrar and probably is out-dated now.

The introduction still refers to "external provisioner" (was already broken when creating that file initially for driver-registrar).

[2018-12-11 15:44] msau42 opened #8 "Remove old registration mechanism"
We should stop supporting the old way of registering the driver by directly modifying the node object.

Have we deprecated the old plugin registration mechanism yet? cc @saad-ali

[2018-12-11 15:46] msau42 commented on #7
I opened https://github.com/kubernetes-csi/node-driver-registrar/issues/8 to remove the old driver registration mechanism.

Then I think we can remove the whole rbac file.

I also scanned through the code and couldn't find anything using k8s events

[2018-12-17 03:30] msau42 commented on #8
/help

[2018-12-21 15:18] pohly commented on #7
@msau42 @jarrpa: https://github.com/kubernetes-csi/node-driver-registrar/commit/6d5882517bf71826d1f031c0ba2b45aed9ee6794 removed the rbac.yaml. Was that intentionally or by mistake?

Neither the commit message nor the PR description mention the removal of the rbac.yaml, and people who want to know what RBAC rules are needed no longer find that information in this repo. For the sake of consistency

[2018-12-21 15:57] msau42 commented on #7
Node driver registrar doesn't interact with the k8s API anymore so no rbac rules are needed.

We can update the README in this repo to be more descriptive about what node driver registrar does

[2018-12-21 16:36] jarrpa commented on #7
While the README could use a touch-up, I think the removal of the RBAC file is only confusing if you knew the file was there to begin with. If we just say "it's a sidecar container" there should be no reason to assume it requires any API privileges unless stated otherwise. At best, a `deploy/` directory would contain a sample DaemonSet for something like the hostPath driver that uses this sidecar,

[2018-12-21 16:55] pohly commented on #7
"Jose A. Rivera" <notifications@github.com> writes:

Every other CSI sidecar container has one, so I think it will be normal
that people will also expect it for node-driver-registrar.

[2018-12-21 17:20] msau42 commented on #7
I think it's sufficient if we document the readme for all the sidecars with the functionality.

For this repo, we can say that it plugs into the kubelet plugin registration mechanism by exposing a socket, etc.

For other repos, we can say, it watches and operates on these kubernetes objects.

[2018-12-21 17:21] msau42 commented on #7
And each readme can have a permissions section that describes what kind of rbacs and other roles it may need

[2018-12-27 02:53] msau42 commented on #8
Updating docs here: https://github.com/kubernetes-csi/node-driver-registrar/pull/13

[2018-12-27 02:53] msau42 commented on #7
Updating docs here: https://github.com/kubernetes-csi/node-driver-registrar/pull/13

[2018-12-27 23:55] msau42 commented on #7
README has been updated. Please update as you see fit.
/close

[2018-12-27 23:55] #7 closed

[2018-12-27 23:56] msau42 commented on #8
/close

[2018-12-27 23:56] #8 closed

[2019-01-08 11:05] pohly opened #21 "remove reg.sock on shutdown"
When driver-registrar terminates, it should ensure that it removes the `*-reg.socket` file that it created. It will get overwritten when restarting, but when experimenting with different drivers or testing with driver renaming, those files accumulate under `/var/lib/kubelet/plugins/` and then plugin registration in kubelet gets slower (several minutes!). That might be something worth fixing in kub

[2019-01-09 07:21] pohly commented on #21
That sounds like a good approach. I think it should be described in the documentation of node-driver-registrar. We can use this issue to track that.

[2019-02-14 08:43] muecahit94 opened #32 "runnung on kubernetes 1.12.x"
Hi,
is there a way to use this on kubernetes 1.12.x?

I use Rancher and the stable version supports only k8s 1.12.x versions.
I tried to setup GCS, everything works, but when i want to assign a PVC to a workload, it throws this issue:

[code]

Pls give me some tips if its possible to use is on kubernetes 1.12.x

[2019-02-15 00:59] msau42 commented on #32
Hi @muecahit94, the node-driver-registrar only works with CSI Spec 1.0 which is not supported in Kubernetes 1.12.  For an example on how to use the driver-registrar in 1.12, you can look at the example specs we used for e2e testing: https://github.com/kubernetes/kubernetes/tree/release-1.12/test/e2e/testing-manifests/storage-csi/gce-pd

[2019-03-13 00:31] msau42 opened #35 "Discover CSI spec version"
Right now the node-driver-registrar hardcodes the CSI spec version supported from the driver.

Ideally, this should be discovered from the plugin's RPC service version.  If that's not possible, then we should consider using GetPluginInfo() to pass this information through.

cc @saad-ali @jsafrane

[2019-03-21 09:11] darcyllingyan opened #36 "node-driver-registrar pod reports "Connecting to /csi/csi.sock timed out""
Hi,
When I deployed the CSI driver, the node-driver-registrar pod couldn't be started and always reports the TRANSIENT_FAILURE error, whether there are some issues or restrictions for my cluster environment when using the CSI plugin?
Now the external provisioner, external attacher are all running, only the node-driver-registrar crash.
Based on below log, the csi driver socket is OK but the node-dr

[2019-03-21 15:16] msau42 commented on #36
What version of the node driver registrar are you using?

[2019-03-21 15:36] darcyllingyan commented on #36
Hi @msau42 ,
I'm using v1.0.1 version.

Thanks
Darcy

[2019-03-21 15:39] darcyllingyan commented on #36
Using the same CSI driver, I have deployed in one cluster successfully, but after I change another cluster, the node-driver-registrar reports error.
The difference between the two clusters are the node number, so maybe there is configuration restriction for the cluster when using CSI

[2019-03-21 16:10] msau42 commented on #36
We recently made a fix to improve connection/reconnect handling: https://github.com/kubernetes-csi/node-driver-registrar/pull/29

As a temporary test, can you try using the "canary" image to see if that helps?

[2019-03-21 16:16] darcyllingyan commented on #36
OK, I will have a try now.

[2019-03-21 16:37] darcyllingyan commented on #36
Hi @msau42 ，
It still doesn't wok and reports the same error, confusing with the issue. I'm blocked by the issue and whether there are some suggestions about how to debug? Thanks for any suggestion.
[code]

Thanks

[2019-03-21 16:40] msau42 commented on #36
Is your cinder driver container also restarting?

Can you post your pod spec?

[2019-03-22 00:47] darcyllingyan commented on #36
Hi @msau42 ,
No, the cider driver works well and isn't restarting.
The pod spec is:
[code]

Thanks

[2019-03-22 01:34] msau42 commented on #36
Maybe running the sidecar and driver with log level 10 will have more detailed logs.  Can you also check the version of grpc used in the cinder driver and your sidecar? node-driver-registrar is using 1.10.0

[2019-03-22 01:34] msau42 commented on #36
cc @jsafrane

[2019-03-22 02:12] darcyllingyan commented on #36
Hi @msau42 ,
Thanks for the information.
Sorry I'm not clear how could I change the log level to 10? How to check the grpc version?
Thanks.

[2019-03-22 09:08] jsafrane commented on #36
I can't find anything obviously wrong in the pod spec. What is  `bcmt-registry:5000/node-driver-registrar:v1.0-canary` image? Can you test with `quay.io/k8scsi/csi-node-driver-registrar`? Note that `quay.io/k8scsi/driver-node-registrar` and `quay.io/k8scsi/csi-node-driver-registrar` are different images.

Another thing to check would be good old `strace`. On a node try `strace -p $( pidof node-dri

[2019-03-23 07:18] darcyllingyan commented on #36
Hi @jsafrane , @msau42
Thanks very much for the response.
I used the quay.io/k8scsi/csi-node-driver-registrar image and still reports the same issue.

After check the ```strace```, the los is:
[code]
Seems the root cause is SELinux, as in the SELinux enabled env, the ```node-driver-registrar``` couldn't connect the ```/csi/csi.sock```, after I disable it, the node-driver-registrar  could connect t

[2019-03-29 09:27] jsafrane commented on #35
I checked current CSI spec and there is no call where a driver would report CSI versions it supports.  `vendor_version` is IMO version of the driver, not version of the protocol. Resizing should depend on presence of `EXPAND_VOLUME` capability.

[2019-03-30 01:31] msau42 commented on #35
Discussed this more with @jsafrane and we don't think there's a great way to automatically do this.  grpc does have support for reflection of the exported services and their methods, but it's optional so not all drivers will support it.  Also the service names for CSI just say "v1" for both 1.0 and 1.1 specs.

/close

[2019-03-30 01:31] #35 closed

[2019-04-26 13:56] okartau opened #41 "Feature request: implement a readiness probe"
- implement a readiness probe for the sidecar
- return "ready" only once connected to the driver

Background: we debugged a [pmem-csi](https://github.com/intel/pmem-CSI) deployment case where node-driver-registrar 1.0.2 failed to connect to /csi/csi.sock, getting timeout and causing pod exit in 60 seconds, leading to CrashLoop.
We then tried version 1.1.0 which does not timeout. There the pod rema

[2019-04-29 17:57] pohly commented on #41
We discussed this in the Kubernetes-CSI WG today. The conclusion was that this is worth looking into.

This probably can be implemented the same way for all sidecars using the csi-lib-utils connection code (return ready while connected) and the common code can be in that repo.

/cc @msau42

/help

@okartau is that perhaps an issue that you want to work on as an upstream contribution?

[2019-04-29 19:12] okartau commented on #41
yes

[2019-04-29 20:04] pohly commented on #41
/assign @okartau

[2019-04-29 20:04] pohly commented on #41
/remove-help

[2019-05-03 10:35] okartau commented on #41
@pohly to verify implementation idea:
- Sidecar container listens to a TCP socket (to be added) which serves as readiness probe receive point.
- A connection made there activates code in container (runs in independent thread as main code may be busy in Connect()) checking "is CSI unix-socket connected?", if yes => ready. This new check will be implemented in csi-lib-utils connection code.

or some

[2019-05-03 14:28] pohly commented on #41
@okartau that sounds about right.

[2019-05-28 06:56] pohly commented on #21
/remove-lifecycle rotten
/help

[2019-07-15 01:08] #36 closed

[2019-07-15 02:40] #32 closed

[2019-07-31 07:22] mlmhl commented on #21
@msau42 Currently we use `gcr.io/distroless/static:latest` as the base image, and it doesn't have a `sh` command, so the [pre stop hook](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/deploy/kubernetes/base/node.yaml#L26) always failed. Do we have a better way to do this?

[2019-08-02 02:04] msau42 commented on #21
I was incorrect in my earlier assumption that prestop hook handles ungraceful cases.  I think it execs into the container so it requires the container to be running.  So, considering that the prestop hook only handled graceful cases anyway, what if we add a sigterm handler to the node driver registrar?

[2019-08-06 23:50] davidz627 commented on #21
+1

[2019-08-27 14:51] diederichm opened #48 "Multi-Arch build"
Can you please build for s390x (and maybe ppc64 and ppc64le) ?

[2019-09-30 17:13] #41 closed

[2019-11-05 00:05] davidz627 commented on #21
/remove-lifecycle stale

[2019-11-08 03:28] colek42 opened #55 "arm build"
Arm build of this image.  Looks like multi-arch support is supported in quay as of May 2019.
https://trello.com/c/4EcAIJrd/1303-5-quayregistry-add-support-for-manifest-list-rd

Docker also supports building arm with qemu with "experimental" enabled in the .docker/config.json

ref #48

[2019-11-14 21:43] travisghansen opened #56 "README example invalid"
There a couple problems here:

[code]

The `preStop` command doesn't work with the latest images as apparently `sh` is no longer in the image.

Also the plugin removal from what i can tell should be `/csi` instead of `/registration`.

[2019-11-19 23:00] verult opened #57 "Ensure reg.sock exists while the registrar is running"
While the registrar is running, the kubelet registration socket it installs could be removed erroneously by a different process (for example if two instances of the same driver are running in the cluster). The registrar should continuously ensure that the socket exists during its lifetime (and subsequently removed before it terminates).

/cc @davidz627 @msau42

[2019-11-22 08:24] zhucan commented on #57
@verult if reg.sock not exists, we should create the socket？https://github.com/kubernetes-csi/node-driver-registrar/blob/204944afecf1fada1ed92d3acb8888f3573bb90b/cmd/csi-node-driver-registrar/node_register.go#L47

[2019-12-12 00:20] verult commented on #57
That's what it does today - at initialization time, if socket doesn't exist, it'll create a socket. In addition to that, the registrar should *periodically* check whether the socket exists and create a new one if it doesn't

[2020-01-02 04:06] Madhu-1 commented on #48
/remove-lifecycle rotten

[2020-01-02 04:08] Madhu-1 commented on #56
https://github.com/kubernetes-csi/node-driver-registrar/pull/61 should fix this issue

[2020-01-03 12:24] horakmar opened #62 "Cannot register cinder-csi-plugin"
Hello.
When I follow [instructions](https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/using-cinder-csi-plugin.md) for deploying cinder-csi-plugin on k8s cluster running on Openstack, the node-driver-registrar always fails with following log:
[code]

Relevant part of node's kubelet log is (first error should be harmless, second is the problem):
[code]

Other containers seem to

[2020-01-06 15:12] horakmar commented on #62
Upgrading to kubelet v1.15.5 (error appeared on v1.15.0) seems to solve the problem.

[2020-01-06 15:12] #62 closed

[2020-01-16 00:33] colek42 commented on #55
This is a requirement for Ceph on rpi

ref: https://github.com/ceph/ceph-csi/issues/671#issuecomment-551355568

[2020-02-03 02:59] Madhu-1 commented on #21
/remove-lifecycle stale

[2020-03-25 23:27] msau42 commented on #57
/lifecycle frozen

[2020-04-01 05:24] travisghansen commented on #56
/remove-lifecycle stale

[2020-04-02 12:53] edmondsw commented on #48
/remove-lifecycle stale

[2020-04-14 19:16] ahuffman commented on #48
Any updates on getting a multi-arch build for this?

[2020-04-14 19:18] ahuffman commented on #55
Looking for aarch64 please :)

[2020-04-14 20:52] msau42 commented on #55
Closing this as dup of #48

[2020-04-14 20:52] msau42 commented on #55
/close

[2020-04-14 20:53] #55 closed

[2020-04-14 20:54] msau42 commented on #48
Work is in progress to migrate our build infrastructure to the build pipeline supported by wg-k8s-infra. Once we migrate there, then we can look into supporting multi-arch builds.

[2020-04-14 20:54] msau42 commented on #48
/lifecycle frozen

[2020-04-14 21:33] edmondsw commented on #48
@msau42 Thanks for the update. What is the projected timeline for that migration?

[2020-04-28 18:55] msau42 commented on #48
It's being actively worked on as we speak. I would expect by next month we should have something.

Also for reference, here's the suggested arches to support initially:
https://github.com/kubernetes/kubernetes/blob/master/build/pause/Makefile#L36-L54

[2020-04-28 18:56] msau42 commented on #48
/assign @pohly @jingxu97
cc @vitt-bagal

[2020-04-28 21:06] edmondsw commented on #48
@msau42 excellent! Thank you!

[2020-05-08 03:27] lancelot1989 commented on #21
/remove-lifecycle stale

[2020-05-08 03:31] lancelot1989 commented on #21
this is an essential feature for registrar, which completes the lifecycle

[2020-05-11 22:39] chornlgscout opened #81 "distroless doesn't contain /bin/sh"
Which makes this part of the readme example non-functional:

[2020-05-12 05:46] Madhu-1 commented on #81
this is duplicate of https://github.com/kubernetes-csi/node-driver-registrar/issues/56

[2020-05-19 14:34] Jainbrt opened #83 "driver entry there in csinode description even after removing csi hostpath driver plugin"
After deploying hostpath csi driver, I could able to see driver detail in csinode details as below
[code]
[code]
but after removing the hostpath csi driver plugin, below entry in csinode details kept as it is ?
[code]

Is this expected or a defect?

[2020-06-13 09:48] yerzhant opened #88 "Scheme "" not registered, fallback to default scheme"
K8s ver. 1.17.6
After applying https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml and creating a PV logs are flooded by:
[code]

[2020-06-18 04:20] jbguerraz commented on #88
facing the same issue but with `/var/lib/kubelet/plugins/rook-ceph.rbd.csi.ceph.com/csi.sock` instead; curious to know how to fix that so to avoid the log flooding.

[2020-06-19 14:33] humblec opened #90 "Can we have opaque parameters in CSINode Object"
Can we allow the CSINode object to be filled with some more parameters other than default known spec fields? for example: if I want to list the kernel version in this object,

[code]

[2020-06-19 14:35] #90 closed

[2020-07-21 07:39] liupeng0518 opened #92 "Cannot register cinder-csi-plugin"
Hello,When I follow instructions for deploying cinder-csi-plugin on k8s cluster running on Openstack, the node-driver-registrar always fails with following log:

[code]
version:

k8s:v1.18.3
opentack:r

images:
[code]

Thanks.

[2020-07-22 06:43] entropitor opened #93 "Upgrade grpc-go dependency to allow drivers to be written in rust / typescript"
Due to a bug in grpc-go, drivers in typescript / rust weren't working. This has been fixed so now this package needs to update its dependency on grpc-go soon (https://github.com/grpc/grpc-go/issues/2628)

[2020-07-22 11:47] #92 closed

[2020-07-22 21:11] SaranBalaji90 opened #94 "FeatureRequest: Add support for configuring the registration socket path"
As per the current code we expect `/var/lib/kubelet/plugins_registry/` to be mounted as `/registration`. This works well when `node-driver-registrar` runs as sidecar container or as a pod. We have a usecase to run node-driver-registrar as systemd process to support csi driver for specific set of worker nodes (https://github.com/aws/containers-roadmap/issues/826). Therefore, instead of hardcoding `

[2020-07-23 00:57] msau42 commented on #94
I think a parameter to configure it is fine. How about `plugin-registration-path` as a name?

[2020-07-27 16:24] jsafrane opened #97 "Bump the registrar to v2"
https://github.com/kubernetes-csi/node-driver-registrar/pull/96 introduces a breaking change. The next release should be v2.0.

[2020-07-30 15:12] travisghansen commented on #56
/remove-lifecycle stale

[2020-07-30 15:27] travisghansen commented on #56
/remove-lifecycle stale

[2020-07-30 15:27] travisghansen commented on #56
/remove-lifecycle rotten

[2020-07-31 10:41] #21 closed

[2020-08-03 21:45] msau42 commented on #57
@chrishenzie is going to take a look at this

[2020-08-10 11:30] #94 closed

[2020-08-12 17:25] #97 closed

[2020-08-17 23:07] msau42 opened #104 "Return an error when registration socket file exists but is not a socket"
Followup to https://github.com/kubernetes-csi/node-driver-registrar/pull/99/files#r469647510
/help
/good-first-issue

[2020-08-17 23:41] #57 closed

[2020-08-18 00:39] msau42 commented on #83
This should be addressed by https://github.com/kubernetes-csi/node-driver-registrar/pull/61

[2020-08-24 00:00] holdenk commented on #48
So I was also curious @ruckc it looks like the latest release does not yet have a multi-arch build. I ran `holden@hkdesktop:~/repos/scalingpythonml/make_k8s_cluster$ docker buildx imagetools inspect k8s.gcr.io/sig-storage/csi-node-driver-registrar:v1.3.0` and I got back:

[code]

Does anyone know of v2.0 is planned to support multi-arch builds?

[2020-08-24 07:52] pohly commented on #48
Yes, they are. See https://github.com/kubernetes-csi/csi-release-tools/issues/86

[2020-09-16 10:23] jbguerraz commented on #88
/remove-lifecycle stale

[2020-09-29 02:29] Colstuwjx commented on #56
Hi @Madhu-1 , I've seen your PR #61 , it only removed reg.sock, and `/csi/csi.sock` still exists, should we also clean this socket file?

relative issue I met: https://github.com/TencentCloud/kubernetes-csi-tencentcloud/issues/32.

[2020-10-09 07:22] #81 closed

[2020-10-12 10:12] hzliangbin commented on #104
/assign

[2020-10-17 01:23] #83 closed

[2020-10-20 12:09] entropitor commented on #93
/remove-lifecycle stale

[2020-10-27 01:33] msau42 commented on #93
From the issue it looks like this fix is going to be in grpc 1.31?
/help
/good-first-issue

[2020-11-01 21:10] SerialVelocity commented on #88
Also happens with the other rook provisioner:
[code]

[2020-11-10 17:35] kferrone opened #119 "Support ARM Images?"
I recently opened a request with `kubernetes-csi/csi-driver-smb` to support ARM. They did and pushed the image. Now this project needs the same.
Here are the related issues and PRs:
 - https://github.com/kubernetes-csi/csi-driver-smb/issues/138#event-3978326534
 - https://github.com/kubernetes-csi/csi-driver-smb/pull/144

My end goal is to use the chart within smb-csi repo which also uses this pro

[2020-11-17 10:51] arahamad opened #121 "csi-node-driver-registrar:v2.0.1 image having VA issues"
following is the VA issues in `csi-node-driver-registrar:v2.0.1` image

[code]

[2020-11-17 11:47] arahamad commented on #121
If we re-build the image then this will solve the issue, I verified it.

If someone let me know the process then I can also build image.

[2020-12-02 22:58] msau42 commented on #119
Try the latest 2.0.1 image on k8s.gcr.io

[2020-12-02 23:10] msau42 commented on #48
This should be done as of v2.0

/close

[2020-12-02 23:10] #48 closed

[2020-12-03 20:37] kferrone commented on #119
I have it all up and running. Thank you.

[2020-12-03 20:55] msau42 commented on #119
Great!

/close

[2020-12-03 20:55] #119 closed

[2020-12-09 22:38] Jiawei0227 commented on #104
/close

[2020-12-09 22:38] #104 closed

[2020-12-09 22:38] Jiawei0227 commented on #93
/close

[2020-12-09 22:38] #93 closed

[2020-12-14 17:55] aramase opened #128 "support JSON log format for node-driver-registrar"
- Provide a flag to enable JSON log formatting.

We do this today for CSI driver implementations but the same can't be configured for `node-driver-registrar`. This can be done by adding `log-format-json=true` flag to the node-driver-registrar and setting the log format based on that.

[2020-12-28 02:38] travisghansen commented on #56
/remove-lifecycle stale

[2021-01-22 11:30] paullaffitte commented on #21
I found quite unclear to know whether this bug has been addressed or not.

[2021-01-31 16:45] jbguerraz commented on #88
/remove-lifecycle stale

[2021-02-03 08:11] arahamad commented on #121
latest images also showing VA issues, is there any plane to fix these VA issues

[2021-02-19 10:39] quickstar opened #135 "No Windows 2004 image available"
Hi

According to `curl -L https://mcr.microsoft.com/v2/oss/kubernetes-csi/csi-node-driver-registrar/tags/list` there is no image other than the 1809 kernel for Windows available.

It would make sense to support the versions according to the official [windows-os-version-support](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#windows-os-version-support)

[2021-03-05 10:44] djboris9 commented on #135
I've hand-built an image as a workaround for Win 2004: [djboris/node-driver-registrar:v2.1.0-7-g017ba7b8-2004](https://hub.docker.com/repository/docker/djboris/node-driver-registrar)

[2021-03-15 17:24] aramase commented on #128
/remove-lifecycle stale

[2021-03-17 14:08] entropitor commented on #93
@Jiawei0227 Do we still need https://github.com/kubernetes/kubernetes/issues/93320 to be merged as well or should this be enough to start writing CSI's in other languages without any hacks?

[2021-03-26 07:24] jim3ma opened #139 "Node driver registrar says "Lost connection" and do nothing"
Log:

[code]

After restart container, it works.

[2021-03-28 02:52] travisghansen commented on #56
/remove-lifecycle stale

[2021-04-28 15:10] frittenlab opened #142 "docker pull error on latest image v2.2.1"
I tried to pull the latest docker image from:

`docker pull k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.2.1`

This fails with:

[code]

[2021-04-30 11:55] andyzhangx opened #143 "Node driver could not register on Windows in a little possibility"
On Windows, we found that this node-driver-registrar hang on below statement forever in a little possibility, and then after restart registrar manually, it could register correctly, **question**: is there any way to add timeout and retry in below statement?

https://github.com/kubernetes-csi/node-driver-registrar/blob/d79871c1504bb787ea80a52c076387d5df9fb9ab/cmd/csi-node-driver-registrar/node_regi

[2021-05-03 22:08] jbguerraz commented on #88
/remove-lifecycle stale

Wondering if that is still true. Will check ASAP.

[2021-05-06 11:44] arahamad commented on #121
latest image `csi-node-driver-registrar:v2.1.0` also have VA issues
[code]

[2021-05-07 18:32] ialidzhikov commented on #142
@frittenlab , as of writing this comment, the latest available release is v2.2.0 (see https://github.com/kubernetes-csi/node-driver-registrar/releases/tag/v2.2.0) and there is no v2.2.1 release.

[2021-05-07 18:35] ialidzhikov commented on #142
/kind support

[2021-05-07 19:28] frittenlab commented on #142
No worries I think there was a typo in the release notes. As I copied the docker pull command from there. Thanks

[2021-05-07 19:28] #142 closed

[2021-06-06 14:15] serathius commented on #128
Hey, author of json format here.
It's great to see other components adopting structured logging and new format. Feel free to send PR review and feedback my way. I would be happy to remove any blockers and inconveniences in the current solution.

[2021-06-07 04:49] rkojedzinszky opened #150 "Support ARM (armv7) images"
Is there a way to build/release armv7 images too?

[2021-06-16 22:54] jingxu97 commented on #143
cc @mauriciopoppe

[2021-06-17 21:37] mauriciopoppe commented on #143
Following up my comments on https://github.com/kubernetes-csi/node-driver-registrar/pull/149, after I read how the kubelet plugin registration works, after the gRPC server is started we should get a notification from the kubelet through the callback

https://github.com/kubernetes-csi/node-driver-registrar/blob/5387d2bfde74acaaf29f7c8967bcff45219c19af/cmd/csi-node-driver-registrar/main.go#L79

If w

[2021-06-17 21:49] mauriciopoppe commented on #143
cc @lizhuqi

[2021-06-19 00:37] lizhuqi commented on #143
+1 to ask in sig-windows. I will ping sig-windows to take a look in the slack.

[2021-06-19 04:46] andyzhangx commented on #143
I would vote for force restart if registrar does not get response from kubelet.

[2021-07-05 12:58] #121 closed

[2021-07-09 16:51] mauriciopoppe commented on #135
/remove-lifecycle rotten

[2021-07-12 17:19] aramase commented on #139
/remove-lifecycle stale

[2021-07-16 21:31] aramase commented on #143
We just upgraded our e2e tests to run against 1.21 windows for secrets-store-csi-driver and most of the e2e runs are failing with this error. There is no `InfoCall` from kubelet only for windows.

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_secrets-store-csi-driver/638/pull-secrets-store-csi-driver-e2e-windows/1416135481476780032/artifacts/2021-07-16T211148/node-

[2021-07-21 17:53] mauriciopoppe commented on #143
sig-windows asked to check the output of `sc query afunix`, if you see this error again please try to run this command in your nodes.

[2021-07-30 03:19] js-rwwa commented on #135
Any update on this? Ive just run into the same issue using eksctl with Windows Node Group support, noticed there still isn't a 2004 image.

[2021-08-02 08:08] SerialVelocity commented on #88
/remove-lifecycle stale

[2021-08-02 20:13] msau42 commented on #135
@mauriciopoppe can you confirm if 2004 images are published yet?

[2021-08-02 20:14] msau42 commented on #135
cc @jingxu97

[2021-08-02 21:03] jingxu97 commented on #135
they are available at gcr.io/gke-release/csi-node-driver-registrar:v2.2.0-gke.0

[2021-08-02 23:35] msau42 commented on #135
@jingxu97 since this is a community project we should be pushing the images to the k8s.gcr.io community repo.

[2021-08-02 23:40] jingxu97 commented on #135
oh, community repo k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.2.0

[2021-08-03 00:39] msau42 commented on #135
Thanks!
/close

[2021-08-03 16:37] mauriciopoppe commented on #135
k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.2.0 was released on April 22 however the changes I did were on May https://github.com/kubernetes-csi/node-driver-registrar/pull/147/files, I think we need to verify that the docker manifest for v2.2.0 has all the windows versions

/reopen
/assign

[2021-08-04 20:10] msau42 commented on #143
Within the next two weeks.

[2021-08-13 15:02] andyzhangx commented on #143
https://github.com/kubernetes-csi/node-driver-registrar/releases/tag/v2.3.0 is already published.

[2021-08-14 01:09] andyzhangx commented on #143
I have tried with `--mode=kubelet-registration-probe` with v2.3.0, it would fail on both Linux and Windows:
[code]

[2021-08-14 04:33] mauriciopoppe commented on #143
@andyzhangx I wrote how to use it here: https://github.com/kubernetes-csi/node-driver-registrar/blob/master/README.md#health-check-with-an-exec-probe, what's your setup?

[2021-08-14 07:59] andyzhangx commented on #143
@mauriciopoppe  thanks, it works well with that config!

[2021-08-14 07:59] #143 closed

[2021-08-16 16:34] pehlert commented on #88
Over one year later, this is still flooding our logs. Has anyone found a workaround maybe?

[2021-08-17 06:03] rugalcrimson commented on #88
also happens with vsphere provisioner (on k8s 1.20.4 and vsphere 6.7u3)

Aug 17 13:53:26 cip-zsy-k8s-node03 kubelet[1126]: I0817 13:53:26.055571    1126 clientconn.go:106] parsed scheme: ""
Aug 17 13:53:26 cip-zsy-k8s-node03 kubelet[1126]: I0817 13:53:26.055605    1126 clientconn.go:106] scheme "" not registered, fallback to default scheme
Aug 17 13:53:26 cip-zsy-k8s-node03 kubelet[1126]: I0817 13

[2021-08-17 17:39] #150 closed

[2021-08-30 21:28] mauriciopoppe commented on #135
I've verified that the https://github.com/kubernetes-csi/node-driver-registrar/releases/tag/v2.3.0 of node-driver-registrar (available through k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.3.0) includes an image for 2004.

- I copied k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.3.0 to my repo
- I checked that the manifest has the 2004 windows version

[code]

I've also checked that th

[2021-08-30 21:28] #135 closed

[2021-10-18 20:05] aramase opened #170 "Add an option to enable pprof profiling"

[2021-11-03 15:36] #128 closed

[2021-11-09 03:01] #170 closed

[2022-01-24 09:27] zerkms commented on #88
/remove-lifecycle stale

[2022-02-10 16:08] mreider opened #183 "Bump version of Go for CVE resolution?"
Hello. Would it be possible to bump the version of Golang to help resolve some of these CVE's?

CVE-2021-38297 | critical | go 1.16.2 | 9,8 | https://nvd.nist.gov/vuln/detail/CVE-2021-38297
CVE-2021-27918 | high | go 1.14.15 | 7,5 | https://nvd.nist.gov/vuln/detail/CVE-2021-27918
CVE-2021-29923 | high | go 1.16.2 | 7,5 | https://nvd.nist.gov/vuln/detail/CVE-2021-29923
CVE-2021-33194 | high | go 1.

[2022-03-10 07:32] mauriciopoppe opened #188 "Healthz endpoint returns 404"
/kind bug

I tried setting this in a manifest:

[code]

The logs show:

[code]

Once started, the livenessProbe fails with 404, I did a port-forward to debug it locally

[code]

The path is set at this location https://github.com/kubernetes-csi/node-driver-registrar/blob/86cc0bb192b929c3e23164bf0496425e628450a5/cmd/csi-node-driver-registrar/node_register.go#L99, what's strange is that the pprof pa

[2022-03-15 16:56] timmy59100 commented on #88
Same with longhorn  storage.

[2022-03-30 17:11] cnmcavoy commented on #188
Pretty sure https://github.com/kubernetes-csi/node-driver-registrar/blob/master/cmd/csi-node-driver-registrar/node_register.go#L126 is wrong, and the second argument, `nil`, should be `mux` instead.

[2022-04-14 17:19] #188 closed

[2022-04-28 08:43] wonleing commented on #88
The related code is here: ingress-nginx/vendor/google.golang.org/grpc/clientconn.go
        if cc.dopts.resolverBuilder == nil {
                // Only try to parse target when resolver builder is not already set.
                cc.parsedTarget = parseTarget(cc.target)
                grpclog.Infof("parsed scheme: %q", cc.parsedTarget.Scheme)
                cc.dopts.resolverBuilder = resolver.G

[2022-05-16 16:45] jingxu97 opened #197 "Node driver registrar"

[2022-05-24 14:59] travisghansen opened #199 "document flag to specify registration path"
I'm building a csi driver using windows host process containers and the hard-coded path requires me to make a symlink on the host node itself to /registration which seems pretty hacky. I'd prefer to be able to just point it at the *actual* plugin directory and move on.

[2022-05-24 15:02] travisghansen opened #200 "update the windows dockerfile to use a relative path to binary for better host process support"
When using windows host process containers the entrypoint needs to be relative otherwise it looks for the binary at that path on the actual host filesystem.

[2022-05-25 21:15] travisghansen commented on #199
It appears this already exists as `plugin-registration-path`

[2022-06-01 17:12] mauriciopoppe commented on #183
I saw that our go.mod file says 1.16 in https://github.com/kubernetes-csi/node-driver-registrar/blob/master/go.mod#L3 however the library that builds the binary uses 1.18 https://github.com/kubernetes-csi/csi-release-tools/blob/master/prow.sh#L89, I'll check this again before the next release

[2022-06-08 17:17] omarmakni opened #205 "csi-driver-registrar Registration process failed on aws node"
Hello.
When I follow [instructions](https://github.com/kubernetes-csi/node-driver-registrar/blob/master/README.md) for deploying csi-driver-registrar on aws cluster (EKS) nodes (EC2) the node-driver-registrar always fails with the following log:
I0608 14:48:02.757010       1 main.go:113] Version: v2.1.0-0-g80d42f24
I0608 14:48:02.757918       1 connection.go:153] Connecting to unix:///csi/csi.sock

[2022-06-27 13:38] daydayup666 opened #206 "When the node restarts, csi-plugin registration time is too long because the old sock file is invalid during the kubelet startup process."
When the node restarts,  kubelet would found a residual sock files in the /var/lib/kubelet/plugins_registry directory, which will cause the csi plugin registration to fail. If the registration fails, kubelet will enter the back-off process, wait for a period of time and then re-register. The waiting time will gradually increase, and the maximum single wait is 2 minutes and 2 seconds.

[2022-07-22 17:40] aodinokov commented on #88
it's seen that kubelet keeps loggin that, so it should be in kubernetes repo I guess.
most likely here:
https://github.com/kubernetes/kubernetes/blob/cb303e613a121a29364f75cc67d3d580833a7479/vendor/google.golang.org/grpc/clientconn.go#L245

or even better to update it in the original google.golang.org/grpc/clientconn.go and pull it in k8s eventually.
as an alternative it is possible to fix the iss

[2022-08-02 09:46] sys-liqian opened #207 "If the kubelet working directory in the cluster is different，how to use node-driver-registrar"
in my kubernetes cluster
node1 kubelet woring dir is /var/lib/kubelet
node2 kubelet woring dir is /data/kubelet
how do i use node-driver-registrar

[2022-08-04 21:25] ConnorJC3 opened #213 ""Failed to create registration probe file" with readOnlyRootFilesystem"
When using `readOnlyRootFilesystem: true` the `node-driver-registrar` tries to recursively create the directory the probe file is in, leading to an error:

[code]

In this scenario `/var/lib/kubelet/plugins/ebs.csi.aws.com/` is a `hostPath` mounted into the container (and registration works just fine), but `node-driver-registrar` tries to create `/var/lib/kubelet/` despite the fact it already exis

[2022-08-04 21:53] mauriciopoppe commented on #213
Thanks for the report, this mode https://github.com/kubernetes-csi/node-driver-registrar#health-check-with-an-exec-probe exists as a workaround to an issue related with the registration process getting stuck. Fortunately, I believe that the issue with the registration process getting stuck was fixed in https://github.com/kubernetes/kubernetes/pull/110075 and the workaround shouldn't be needed anym

[2022-08-04 21:58] mauriciopoppe commented on #213
I think we can also use the fact that we didn't introduce any flags to enable/disable the feature, another idea would be to deprecate the exec probe and remove the code that creates the file by default from the codebase in a future release.

[2022-08-04 22:07] ConnorJC3 commented on #213
@mauriciopoppe creating the file is fine, because we are passing `--kubelet-registration-path=/var/lib/kubelet/plugins/ebs.csi.aws.com/csi.sock`, so it should try to create the file at `/var/lib/kubelet/plugins/ebs.csi.aws.com/registration`, which **is** writable because it is mounted from the host (and that will likely always be true?)

The problem is that on the way to create `/var/lib/kubelet/p

[2022-08-04 22:43] mauriciopoppe commented on #213
@ConnorJC3 thanks for pointing that out! I think I can remove these lines safely https://github.com/kubernetes-csi/node-driver-registrar/blob/c759a11a5000a03cf8ac2d7fdcb0b57299454c6a/pkg/util/util_unix.go#L91-L94

[2022-08-04 22:56] mauriciopoppe commented on #213
I think that `readOnlyRootFilesystem` will block the creation of the registration file, the error you see is with `mkdir` but I think that you'll see the same error later when the actual registration file is created even if I remove these lines.

[2022-08-04 23:02] mauriciopoppe commented on #213
On the CSI Driver side, is the `unix:///var/lib/csi/sockets/pluginproxy/csi.sock` created with `readOnlyRootFilesystem` just fine? It be good to know if this line where the socket is created is failing too: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/5510cd8e70e098c15bc3c2a2e075298793ce0750/pkg/driver/driver.go#L112

[2022-08-05 00:32] ConnorJC3 commented on #213
`/var/lib/csi/sockets/pluginproxy/` is a volume mounted in the CSI driver, so the `readOnlyRootFilesystem` doesn't affect it. This example manifest from my PR on the EBS CSI Driver has been tested and works: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/64bae337ed98d9e47564b163fb3fd6d892b663f7/deploy/kubernetes/base/node.yaml#L50-L88

The same should be true for `node-driver-registrar

[2022-08-13 03:49] mauriciopoppe commented on #213
#214 removes the lines that attempted to create a directory and now we only create a file in the mounted volume, it should be available in the next release

[2022-08-23 13:26] travisghansen commented on #200
Not stale.

[2022-08-23 17:46] mauriciopoppe commented on #200
/remove-lifecycle stale

[2022-09-08 19:37] Alexshen1987 commented on #183
We can see the same issue.

[2022-09-08 19:38] Alexshen1987 commented on #183
/remove-lifecycle stale

[2022-09-14 10:02] kickthemooon opened #218 "CSINode has no drivers"
I am trying to get aws-ebs-csi-driver running on Kubernetes EKS 1.23

CSINode resources are created for nodes created after the driver was installed but are missing drivers.

This is a node `/var/lib/kubelet` example:

![kubelet](https://i.imgur.com/o1KZWdi.png)

The node-csi-driver image is:
`k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.5.1`

node-csi-driver logs:
[code]

The ebs-plugin im

[2022-09-14 22:56] mauriciopoppe commented on #218
Could you please share the yaml for the node component of the EBS CSI Driver?

[2022-09-15 06:57] kickthemooon commented on #218
@mauriciopoppe
[code]

[2022-09-15 11:09] kickthemooon commented on #218
I looked at the worker nodes (ec2) launch template / user data. The kubelet root path was not the standard `/var/lib/kubelet`. Instead it was a different one. I fixed the missing CSINode driver information by updating the volumes host paths with the correct kubelet root path.

[2022-09-15 11:09] #218 closed

[2022-09-16 11:45] amolmote opened #219 "Broken Link of `contributor cheat sheet` needs to fix"
## Bug Report

I have observed same kind of issue in various kubernetes-csi project.
this happens because after the localization there are too much modifications done in the various directories.
I have observed same issue in [this ](https://github.com/kubernetes-csi/node-driver-registrar/blob/master/CONTRIBUTING.md) page also.
It has one broken link of the `contributes  cheat sheet` which needs to

[2022-09-29 20:16] sharunjoshi commented on #183
Are there any updates on fixing the CVE's?

[2022-09-29 20:16] sharunjoshi commented on #183
/remove-lifecycle stale

[2022-10-04 22:43] sarahhenkens commented on #183
Bumping up on this. We are having the same issue

[2022-10-04 22:45] sarahhenkens commented on #183
@mauriciopoppe I think if we do a fresh docker build. It should pick up the latest node 16 or node 18 versions with the security patches included. Just need to do a re-release.

[2022-10-10 14:33] dkistner opened #224 "Rebuild with golang `v1.18.6` or higher"
Our image scanner detected some golang related findings (e.g. `CVE-2022-27664`) in the latest release `v2.5.1` which can be fixed by rebuilding with golang `v1.18.6` or higher.

Is there a way to upgrade to golang `v1.18.6`, build and publish an upgraded version?

If I understand the build process correctly the binary is build with the go version which is used in the corresponding pipeline (in thi

[2022-10-12 05:57] MobsMao opened #226 "I‘d like to understand your release strategy"
Since last release is released in May, and many CVE mitigation PRs has been merged. But how often would you release a new version of node-driver-registrar? Like when we can get a newly release that contains the fixes?
Thank you!

[2022-10-12 23:09] #219 closed

[2022-10-13 18:37] mauriciopoppe commented on #224
yes, I'm going to work on the release and hopefully be done this week or next week

[2022-10-13 21:38] jcogilvie opened #228 "Support structured logging"
The `node-driver-registrar` container should support structured logging when given the `--log-format-json` flag, like for instance the `secrets-store-csi-driver` does.

A simple implementation can be found here: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/cmd/secrets-store-csi-driver/main.go#L90-L94

[2022-10-14 15:32] Howard-Haiyang-Hao opened #229 "csi-node-driver-registrar consumed ~44% cpu time to read container registry TimeZone information"
I was trying to narrow down a perf issue and noticed that csi.node-driver-registrar.exe consumed 44% cpu time within 359ms. The majority of this time was spent on reading Container registry timezoon information.

Worked with @andyzhangx and he recommeneded tracking this issue here .

![csi-node-driver-registrar-cpu](https://user-images.githubusercontent.com/30302321/195882698-847994a9-c81c-4c2d-93

[2022-10-14 17:03] ddebroy commented on #229
The csi node driver registrar primarily executes when the CSI node plugin is initializing and registering with Kubelet. Did you observe the above happening beyond the CSI node daemonset pod's initialization? Were there any interesting bits (especially errors/retries) in the logs of the csi node driver registrar container from the CSI node plugin pod?

[2022-10-14 17:56] Howard-Haiyang-Hao commented on #229
It's within the bounds of Pod initialization. I am curious why this process needs to read time zone registry keys. This operation seems take a quite bit CPU time.  Thank you for the quick response.

[2022-10-14 18:57] ddebroy commented on #229
This is quite unexpected in the first place (assuming Pod initialization above is referring to a general stateful workload pod that mounts PVs backed by the CSI plugin) as the driver registrar does not have a role to play beyond CSI Node registration. The logs may reveal if you have a situation where the plugin is failing to register or restarting for some reason.

just a guess (logs/stack traces

[2022-10-14 19:04] mauriciopoppe commented on #229
Adding on the profile, you can use https://github.com/kubernetes-csi/node-driver-registrar/blob/6f7211c7884e434616aeb385863e32fe311fbde9/cmd/csi-node-driver-registrar/main.go#L73 to enable these endpoints https://github.com/kubernetes-csi/node-driver-registrar/blob/6f7211c7884e434616aeb385863e32fe311fbde9/cmd/csi-node-driver-registrar/node_register.go#L116-L124

[2022-10-14 20:11] Howard-Haiyang-Hao commented on #229
I think the demo service was still running, these instances were the kubelet-registion-probe operations that's happening every 10 seconds, with command like: /csi-node-driver-registrar.exe --kubelet-registration-path=C:\\var\\lib\\kubelet\\plugins\\disk.csi.azure.com\\csi.sock --mode=kubelet-registration-probe

![csi-node-driver-registrar-probe](https://user-images.githubusercontent.com/30302321/1

[2022-10-14 21:08] mauriciopoppe commented on #229
If you're running a recent cluster version (1.25+) I'd suggest removing `--mode=kubelet-registration-probe`, this mode was added as a workaround due to https://github.com/kubernetes-csi/node-driver-registrar/issues/143 but it was fixed in https://github.com/kubernetes/kubernetes/issues/104584 i.e. we no longer need to probe to check that node-driver-registrar is up.

[2022-10-15 16:19] Howard-Haiyang-Hao commented on #229
Let me asked team to see if they can move to 1.25. Thanks.

I wonder if the demo and probe use the same code base, if we do, then we still need to figure out purpose of the Time Zone registry readings. Based on the call stack, it's called by csi-node-driver-registrar.exe directly by calling RegOpenKeyExW, but as you mentioned, I also can't find RegOpenKeyEx in this repo. I am guessing this may com

[2022-10-16 12:37] andyzhangx commented on #229
@Howard-Haiyang-Hao we don't need to wait for 1.25, we could change current azure disk daemonset config directly by removing `livenessProbe` and check whether it solves the issue, let's discuss offline, and I can share you the steps.
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/09066645538325be70cf0f28915ef484186c2ba9/deploy/csi-azuredisk-node-windows.yaml#L63-L70

[2022-10-17 20:28] mauriciopoppe commented on #228
Thanks for the pointer, I was reading how the kubelet does it and it's very similar, on top of this change we need to update the log methods to the suffix S e.g. `Infof` -> `InfoS`, etc

References:
- https://kubernetes.io/blog/2020/09/04/kubernetes-1-19-introducing-structured-logs/
- kubelet
  - init https://github.com/kubernetes/component-base/blob/v0.25.3/logs/json/register/register.go#L26,
  -

[2022-10-18 04:13] Howard-Haiyang-Hao commented on #229
@andyzhangx, let me work with you offline to see if the workaround solves the issue. Thanks!

[2022-10-19 02:53] Howard-Haiyang-Hao commented on #229
I guess the following call actually trigger the Time Zone registry key emumations:

![image](https://user-images.githubusercontent.com/30302321/196585867-69c89164-39f7-4ae2-a14e-4c0401995043.png)

Any idea the purpose of this call?

thanks,
Howard.

[2022-10-22 22:27] #199 closed

[2022-10-27 09:52] jbguerraz commented on #88
/remove-lifecycle stale

[2022-10-27 22:26] steved opened #232 "v2.6.0 container image was not pushed to registry.k8s.io"
Although I see a release in Github, I'm unable to pull the v2.6.0 container image:

[code]

[2022-10-27 22:26] steved commented on #232
cc @mauriciopoppe

[2022-10-28 02:17] mauriciopoppe commented on #232
The image will be available once https://github.com/kubernetes/k8s.io/pull/4395 is merged.

[2022-10-28 02:24] mauriciopoppe commented on #200
For a HostProcess container we have tried expressing the path absolutely with respect to the host and that has worked fine in the experiments https://github.com/kubernetes-csi/csi-proxy/blob/library-development/docs/USAGE.md, I think that there's this special env var `CONTAINER_SANDBOX_MOUNT_POINT` where the container will be created pointing to a directory that is the filesystem root in the conta

[2022-10-28 02:48] mauriciopoppe commented on #207
Sorry for the late response, while we have these paths exposed as cli args I don't think we tested by having the kubelet working dir different to `/var/lib/kubelet`.

I'm not sure if the following will work:

[code]

[2022-10-28 02:50] mauriciopoppe commented on #205
/remove-lifecycle rotten

From the error it looks like the node has a different label to what the driver reported, have you checked that those match?

[2022-10-28 02:57] steved commented on #232
Great, thank you!

[2022-10-28 02:57] #232 closed

[2022-10-28 06:28] MobsMao commented on #183
Any updates on fixing the CVEs? if bump the go version to 1.18.7 or 1.19.2 CVEs should be solved.

[2022-10-28 15:24] mauriciopoppe commented on #183
A new image will be available soon, I'm waiting for https://github.com/kubernetes/k8s.io/pull/4395 to be merged.

[2022-10-28 23:07] mauriciopoppe commented on #183
Tested that the image is available with `docker pull k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.6.0`

[2022-10-28 23:07] #183 closed

[2022-10-28 23:09] mauriciopoppe commented on #224
We released v2.6.0, checked that it's available with `docker pull k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.6.0`

[2022-10-28 23:10] mauriciopoppe commented on #226
I answered a similar question in livenessprobe in https://github.com/kubernetes-csi/livenessprobe/issues/163, we try to have a release for every kubernetes release and we were missing one for the 1.25 release.

We released v2.6.0, I checked that it's available with `docker pull k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.6.0`

[2022-10-28 23:10] #226 closed

[2022-10-31 07:45] dkistner commented on #224
Thanks for the new release. Unfortunately the image `k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.6.0` seems still to build with `< v1.18.6` and has therefore golang related CVEs like `CVE-2022-27664`.
Is there a way to build it with `v1.18.6` or higher?

[2022-10-31 18:57] mauriciopoppe commented on #224
Building with 1.19 should happen with https://github.com/kubernetes-csi/node-driver-registrar/issues/224 merged, I'll create a new patch release in the branch `release-2.6`

[2022-11-11 10:31] chrismuellner opened #239 "Missing image/manifest for release `v2.6.1`"
When trying to pull this image with the command provided in the [v2.6.1 release notes](https://github.com/kubernetes-csi/node-driver-registrar/releases/tag/v2.6.1), there is an error:
[code]

No issues when attempting to pull image for `v2.6.0` release:
[code]

Listing the available tags using `skopeo` does not show the  `v2.6.1` tag either:
[code]

[2022-11-11 21:07] mauriciopoppe commented on #239
When we create a tag we get a staging image, there's another commit like https://github.com/kubernetes/k8s.io/pull/4395/files that I need to do to make this image available registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.6.1

I'm doing this now

[2022-11-15 20:43] sarahhenkens commented on #239
@mauriciopoppe Any update on this?

[2022-11-17 07:08] tobiasgiese commented on #213
Is there any plan to add this to the next release?

[2022-11-17 08:23] tobiasgiese opened #244 "Mode `kubelet-registration-probe` is broken"
It seems that `--mode=kubelet-registration-probe` is broken.
Pods that configured a `livenessProbe` [according to the recommendations](https://github.com/kubernetes-csi/node-driver-registrar#health-check-with-an-exec-probe) fail with the following error

[code]

The registration path and file is hard coded in the `main.go`.

https://github.com/kubernetes-csi/node-driver-registrar/blob/f8bc53e9ad1a

[2022-11-17 08:24] tobiasgiese commented on #244
If it's accepted as a bug I want to work on this 🙂

[2022-11-17 18:27] #239 closed

[2022-11-17 18:28] mauriciopoppe commented on #244
We added that mode as a workaround for Windows, see https://github.com/kubernetes-csi/node-driver-registrar/issues/143 for more info. The issue was fixed upstream in Kubernetes in 1.24 so if you're using that version you don't need the workaround. I think it's worth adding a note like this in the README about not using this flag anymore.

[2022-11-17 18:30] tobiasgiese commented on #244
We‘re already using Kubernetes v1.24.8 and the issue still persists

[2022-11-17 18:33] mauriciopoppe commented on #244
Sorry I think https://github.com/kubernetes/kubernetes/issues/104584 was fixed in [1.25](https://github.com/kubernetes/kubernetes/pull/110075)

[2022-11-17 18:35] tobiasgiese commented on #244
Ah okay, thanks for the update. So I think we don‘t need this fix 👍🏻

[2022-11-17 18:44] tobiasgiese commented on #244
Just to get this right: you mean that this probe will be fixed in v1.25 for Windows, right? Because we are facing this issue with Linux. According to the docs the exec livenessProbe should succeed and it does not. That‘s why I‘ve added this issue

[2022-11-17 18:47] mauriciopoppe commented on #244
The issue https://github.com/kubernetes-csi/node-driver-registrar/issues/143 only happened in Windows, we added the `kubelet-registration-probe` as a workaround that worked in both Linux and Windows (although we only saw the issue in Windows), later the root cause of https://github.com/kubernetes-csi/node-driver-registrar/issues/143 was found in https://github.com/kubernetes/kubernetes/issues/1045

[2022-11-17 21:55] mauriciopoppe commented on #244
@aramase thanks for linking to this bug, I think that the kubelet-registration-probe was working with Azurefile and Azuredisk successfully so it might be a new bug, wondering if it's related with https://github.com/kubernetes-csi/node-driver-registrar/pull/214

There's a release note that I added with this change, wondering if this should be done in the manifests in the volume definitions (to crea

[2022-11-17 22:02] aramase commented on #244
So we create the host path directory if it doesn't exist: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/deploy/secrets-store-csi-driver.yaml#L128-L131. This host path is mounted in the `node-driver-registrar` path as `/csi`: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/deploy/secrets-store-csi-driver.yaml#L35-L36. The path used for the registration

[2022-11-20 12:57] tobiasgiese commented on #244
But the workaround does not work for Linux currently. As this was only added for Windows we can simply remove the docs for Linux, right? This is a bit misleading imo.
Btw, we're facing this issue with Kubernetes v1.24.8 and the `node-driver-registrar` v2.6.0 and v2.6.1. With v2.5.1 everything works as expected.

[2022-11-21 20:22] zestysoft commented on #244
+1

[2022-11-21 21:28] mauriciopoppe commented on #244
Thank for the additional feedback @aramase & @tobiasgiese, I think that https://github.com/kubernetes-csi/node-driver-registrar/pull/214 is the bug, I'm going to revert it and analyze the issue in more detail later

[2022-11-21 21:28] mauriciopoppe commented on #244
/kind bug

[2022-11-21 21:43] mauriciopoppe commented on #213
Reverting in https://github.com/kubernetes-csi/node-driver-registrar/pull/247#issuecomment-1322685129, I think node-driver-registrar needs to create the `/var/lib/kubelet/plugins/<drivername.example.com>/` which is different from the mounted volume `/var/lib/kubelet/plugins/<drivername.example.com>/` to `/csi`.

[2022-11-22 12:54] knopt opened #249 "v2.6.1 is affected by CVE-2022-32149"
The latest release is affected by vulnerability CVE-2022-32149 which is marked as high severity. The issue is being addressed in other parts of Kubernetes as well, see: https://github.com/kubernetes/kubernetes/pull/112989/files

My proposed solution is to add the following directive to go.mod:
[code]

I'd be happy to submit a PR when the solution is agreed upon.

[2022-11-22 20:10] mauriciopoppe commented on #249
Thanks for raising this issue, we could do that or sync master's go.mod https://github.com/kubernetes-csi/node-driver-registrar/blob/master/go.mod#L42 to release-2.6

[2022-11-23 12:51] knopt commented on #249
The problem is that the node-driver-registrar master branch has transitive dependencies on `golang.org/x/text <v0.3.8`. You can see them by running:
[code]

`replace` directive will replace them all. Alternative would be to make every node-driver-registrar dependency to not have any transitive dependencies on affected `golang.org/x/text` versions which seems unfeasible. Let me know your thoughts.

[2022-11-23 19:14] mauriciopoppe commented on #249
I see, yes the replace sounds good, you could create a PR against master and then use https://github.com/kubernetes/kubernetes/blob/master/hack/cherry_pick_pull.sh to cherrypick it to release-2.6

[2022-11-24 15:12] #206 closed